header{
    font-size: 2rem;
    padding: 40px;
    text-align: center;
}
body{
    background-color: rgb(2, 28, 77);
    background-image: url(clas.avif)
}

.tarjeta{
    background-color: rgb(95, 95, 95);
    color: rgb(247, 247, 247);
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 50px;
    width:20%;
    height:auto;
    float:left;
}

.tarjeta1{
    background-color: rgb(116, 118, 119);
    color: rgb(253, 253, 253);
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 50px;
    width:20%;
    height:auto;
    float:left;
}

.tarjeta2{
    background-color: rgb(116, 116, 117);
    color: rgb(255, 255, 255);
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 50px;
    width:20%;
    height:auto;
    float:left;
}
.tarjeta3{
    background-color: rgb(115, 117, 119);
    color: rgb(255, 255, 255);
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 50px;
    width:20%;
    height:auto;
    float:left;
}
