.caja{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    background-color: rgb(205, 193, 179);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding-bottom: 15px;
    margin: 0 auto ;
}


body{
    background-color: beige;
}
.izq{
    width: 100%;
}

#perfil{
    width: 200px;
    height: 220px;
    object-fit: cover;
    display: block;
    border-radius: 20px;

}
.tex{
    .tex {
    padding: 15px 20px 0 20px;
    text-align: center;
}
}