* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  background-color: rgb(133, 161, 161);
}
table{
  border-collapse: collapse;
  width: 100%;
}

table th, table td{
  text-align: left;
  padding: 4px 0;
}
.contenedor{
  width: 600px;
  height: 200px;
  overflow: hidden;
  margin: 50px auto;
  background-color: rgb(186, 77, 186);
  border-radius: 12px;
}

.izquierda{
  float: left;
  width: 75%;
  background-color: azure;
  padding: 20px;
}
.derecha{
  float: left;
  width: 25%;
  background-color: blueviolet;
  height: 200px;
  border-left: 3px;
  text-align: center;
  padding-top: 20px;
}
.contenedor{
  background-color: aqua;
}

.numero{
  font-size: 0.75rem;
  text-align: center;
  color: black;
}
.valor{
  font-size: 2rem;
  font-weight: bold;
  color: azure;
  transform: rotate(90deg);
  margin-top: 40px;
  text-align: center;
}

.label {
    display: block;
    font-size: 0.65rem;
    letter-spacing: 2px;
}
.barcode-num {
  color: #111111;
  font-size: 10px;
  letter-spacing: 3px;
  margin: 4px 0 0 0;
} 
